/* Removes unwanted styling from the page */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  max-width: 100%;
}

/* Write your code below this */
.navbar {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  background-color: gray;
}

li {
  display: inline-block;
  list-style-type: none;
  margin: 0 12px;
  font-size: 40PX;
}

.hero {
  background-image: url('./images/hero.png');
  height: 500px;
  padding-top: 50px;
  padding-left: 103px;
  border-radius: 15px;
}

h1 {
  font-size: 36px;
  margin-bottom: 5px;
  color:rgb(0, 0, 0);
}

button {
  margin-top: 100px;
  padding: 12px 40px;
  background: #52647E;
  color: rgb(0, 0, 0);
  border-radius: 15px;
}

.journey {
  background: #618379;
  padding: 60px 0;
}

h2 {
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: 0;
  margin-bottom: 57px;
}

.journey-list {
  display: flex;
  width: 80%;
  margin: 10% 5%;
  justify-content: space-between;
}

.journey-card {
  width: 30%;
  background-color: white;
  padding: 30px;
  border-radius: 50px;
  color:gray;
}

.journey-image {
  border-radius: 25px;
  margin-bottom: 25px;
  width: 100%;
  height: 80%;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 12px;
  color: black;
}

footer {
  background: #333232;
  text-align: center;
  color: white;
  padding: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
